PRAGMA foreign_keys = OFF;
BEGIN TRANSACTION;

DROP TABLE IF EXISTS occupations;
DROP TABLE IF EXISTS genres;
DROP TABLE IF EXISTS users;
DROP TABLE IF EXISTS movies;
DROP TABLE IF EXISTS movie_genres;
DROP TABLE IF EXISTS ratings;
DROP TABLE IF EXISTS tags;

DROP TABLE IF EXISTS occupations_raw;
DROP TABLE IF EXISTS genres_raw;
DROP TABLE IF EXISTS users_raw;
DROP TABLE IF EXISTS movies_raw;
DROP TABLE IF EXISTS ratings_raw;
DROP TABLE IF EXISTS tags_raw;

CREATE TABLE occupations (
    occupation_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL UNIQUE
);

CREATE TABLE genres (
    genre_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL UNIQUE
);

CREATE TABLE users (
    user_id INTEGER PRIMARY KEY,
    full_name TEXT NOT NULL,
    email TEXT NOT NULL UNIQUE,
    gender TEXT NOT NULL CHECK(gender IN ('male', 'female')),
    birth_date DATE NOT NULL,
    registration_date DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    occupation_id INTEGER,
    FOREIGN KEY (occupation_id) REFERENCES occupations(occupation_id)
);

CREATE TABLE movies (
    movie_id INTEGER PRIMARY KEY,
    title TEXT NOT NULL,
    year INTEGER
);

CREATE TABLE movie_genres (
    movie_id INTEGER NOT NULL,
    genre_id INTEGER NOT NULL,
    PRIMARY KEY (movie_id, genre_id),
    FOREIGN KEY (movie_id) REFERENCES movies(movie_id) ON DELETE CASCADE,
    FOREIGN KEY (genre_id) REFERENCES genres(genre_id) ON DELETE CASCADE
);

CREATE TABLE ratings (
    rating_id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id INTEGER NOT NULL,
    movie_id INTEGER NOT NULL,
    rating REAL NOT NULL CHECK(rating >= 0 AND rating <= 5),
    "timestamp" INTEGER NOT NULL,
    FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE CASCADE,
    FOREIGN KEY (movie_id) REFERENCES movies(movie_id) ON DELETE RESTRICT
);

CREATE TABLE tags (
    tag_id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id INTEGER NOT NULL,
    movie_id INTEGER NOT NULL,
    tag TEXT NOT NULL,
    "timestamp" INTEGER NOT NULL,
    FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE CASCADE,
    FOREIGN KEY (movie_id) REFERENCES movies(movie_id) ON DELETE CASCADE
);

CREATE TABLE occupations_raw (name TEXT);
CREATE TABLE genres_raw (name TEXT);
CREATE TABLE users_raw (id TEXT, name TEXT, email TEXT, gender TEXT, birth_date TEXT, occupation TEXT);
CREATE TABLE movies_raw (movieId TEXT, title TEXT, genres TEXT);
CREATE TABLE ratings_raw (userId TEXT, movieId TEXT, rating TEXT, timestamp TEXT);
CREATE TABLE tags_raw (userId TEXT, movieId TEXT, tag TEXT, timestamp TEXT);

.mode list
.separator |
.import ../Task02/dataset/users.txt users_raw

.mode csv
.separator ,
.import ../Task02/dataset/movies.csv movies_raw
.import ../Task02/dataset/ratings.csv ratings_raw
.import ../Task02/dataset/tags.csv tags_raw

.mode lines
.import ../Task02/dataset/occupation.txt occupations_raw
.import ../Task02/dataset/genres.txt genres_raw

INSERT INTO occupations (name) SELECT DISTINCT name FROM occupations_raw WHERE trim(name) != '';
INSERT INTO genres (name) SELECT DISTINCT name FROM genres_raw WHERE trim(name) != '' AND name NOT LIKE '---%';

WITH cleaned_movies AS (
  SELECT
    CAST(movieId AS INTEGER) AS id,
    TRIM(
      CASE
        WHEN SUBSTR(TRIM(title), -1) = ')' AND SUBSTR(TRIM(title), -6, 1) = '(' AND SUBSTR(TRIM(title), -5, 4) GLOB '[0-9][0-9][0-9][0-9]'
        THEN SUBSTR(TRIM(title), 1, LENGTH(TRIM(title)) - 7)
        ELSE TRIM(title)
      END
    ) AS clean_title,
    CASE
      WHEN SUBSTR(TRIM(title), -1) = ')' AND SUBSTR(TRIM(title), -6, 1) = '(' AND SUBSTR(TRIM(title), -5, 4) GLOB '[0-9][0-9][0-9][0-9]'
      THEN CAST(SUBSTR(TRIM(title), -5, 4) AS INTEGER)
      ELSE NULL
    END AS year
  FROM movies_raw
  WHERE movieId <> 'movieId'
)
INSERT INTO movies(movie_id, title, year)
SELECT id, clean_title, year FROM cleaned_movies;

WITH RECURSIVE split_genres(movie_id, genre_name, rest_genres) AS (
  SELECT
    CAST(movieId AS INTEGER),
    SUBSTR(genres, 1, INSTR(genres || '|', '|') - 1),
    SUBSTR(genres, INSTR(genres || '|', '|') + 1)
  FROM movies_raw
  WHERE movieId <> 'movieId'
  UNION ALL
  SELECT
    movie_id,
    SUBSTR(rest_genres, 1, INSTR(rest_genres || '|', '|') - 1),
    SUBSTR(rest_genres, INSTR(rest_genres || '|', '|') + 1)
  FROM split_genres
  WHERE rest_genres != ''
)
INSERT INTO movie_genres (movie_id, genre_id)
SELECT
  sg.movie_id,
  g.genre_id
FROM split_genres sg
JOIN genres g ON sg.genre_name = g.name
WHERE trim(sg.genre_name) != '' AND sg.genre_name != '(no genres listed)';

INSERT INTO users(user_id, full_name, email, gender, birth_date, occupation_id)
SELECT
  CAST(ur.id AS INTEGER),
  ur.name,
  ur.email,
  ur.gender,
  ur.birth_date,
  o.occupation_id
FROM users_raw ur
LEFT JOIN occupations o ON ur.occupation = o.name;

INSERT INTO ratings(user_id, movie_id, rating, "timestamp")
SELECT
  CAST(userId AS INTEGER),
  CAST(movieId AS INTEGER),
  CAST(rating AS REAL),
  CAST(timestamp AS INTEGER)
FROM ratings_raw
WHERE userId <> 'userId';

INSERT INTO tags(user_id, movie_id, tag, "timestamp")
SELECT
  CAST(userId AS INTEGER),
  CAST(movieId AS INTEGER),
  tag,
  CAST(timestamp AS INTEGER)
FROM tags_raw
WHERE userId <> 'userId';

DROP TABLE IF EXISTS occupations_raw;
DROP TABLE IF EXISTS genres_raw;
DROP TABLE IF EXISTS users_raw;
DROP TABLE IF EXISTS movies_raw;
DROP TABLE IF EXISTS ratings_raw;
DROP TABLE IF EXISTS tags_raw;

CREATE INDEX idx_users_name ON users(full_name);
CREATE INDEX idx_movies_title ON movies(title);
CREATE INDEX idx_movies_year ON movies(year);

COMMIT;
PRAGMA foreign_keys = ON;